* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #388D90;
    font-family: "Inter", sans-serif;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 1.25rem;
    margin-bottom: 25px;
    text-align: center;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 1170px;
    margin: auto;
    padding-top: 50px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.grid__item {
    width: 295px;
    margin-bottom: 25px;
}

.card {
    height: 100%;
    padding: 20px;
    border: 3px, solid, #3c5952;
    border-radius: 6px;
    overflow: hidden;
    background-color: #4bbdae;
}

.card_image {
    display: flex;
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}

img {
    display: flex;
    height: 100%;
    width: 100%;
}

.card__title {
    font-size: 20px;
    margin-bottom: 20px;
}

.game_title {
    display: inline-block;
    color: #333;
}

.card__date {
    margin-top: auto;
    font-size: 18px;
    color: #41524e;
}

.card:hover {
    cursor: pointer;
    animation: slide 0.5s;
    transform: translateY(-10px);
    transition-duration: 0.6s;
    color: #ffffff;
}

@media (width: 480px) {
    .container {
        width: 90%;
    }
    .grid__item {
        flex-basis: 50%;
    }
}

@media (width: 768px) {
    .grid__item {
        flex-basis: 45%;
        text-align: center;
    }
}

@media (width: 1024px) {
    .container {
        width: 80%;
    }
    .grid__item {
        flex-basis:30%;
    }
}

@media (width: 1280px) {
    .grid__item {
        flex-basis: 25%;
    }
}

@media (width: 1600px) {
    .container {
        width: 70%;
    }
    .grid__item {
        flex-basis: 23%;
    }
}