doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        mata(name="viewport")
        title Сайт на Pug
        link(rel="stylesheet", href="../css/style.css")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap", rel="stylesheet")
    body
        - 
          let games = [
            {title: "Visual Studio Code", releaseDate: "14 ноября 2015", image: "../images/VisualStudioCode.png"},
            {title: "GitHub", releaseDate: "12 января 2008", image: "../images/GitHub.png"},
            {title: "Minecraft", releaseDate: "18 ноября 2011", image: "../images/minecraft.webp"},
            {title: "Satisfactory", releaseDate: "10 сентября 2024", image: "../images/satisfactory.jpg"},
            {title: "Factorio", releaseDate: "14 августа 2020", image: "../images/factorio.jpg"},
            {title: "Mindustry", releaseDate: "30 апреля 2017", image: "../images/mindustry.jpg"},
            {title: "Shapez.io", releaseDate: "19 мая 2020", image: "../images/shapez.webp"},
            {title: "Terraria", releaseDate: "16 мая 2011", image: "../images/terraria.webp"},
            {title: "Red Dead Redemption 2", releaseDate: "26 октября 2018", image: "../images/redDead.webp"} 
          ]
        .container
            h1.title Крутой заголовок
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            ul.grid 
                each game in games
                    li.grid__item
                        article.card
                            a.card_image(href="") 
                                img(src=game.image, alt=`${game.title} poster`)
                            h2.card__title
                                a.game_title(href="")= game.title
                            span.card__date= `Дата выпуска: ${game.releaseDate}`
